DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=your-domain.com,www.your-domain.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://your-domain.com,https://www.your-domain.com

POSTGRES_DB=tnved_ai
POSTGRES_USER=tnved_ai
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432

OPENAI_API_KEY=
PROXYAPI_API_KEY=
YANDEX_API_KEY=
YANDEX_FOLDER_ID=
GIGACHAT_AUTH_KEY=
